<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="orchextra-cordovaplugin" version="0.0.1">
    <name>orchextra</name>
    <js-module name="HttpNative" src="www/orchextra.js">
        <clobbers target="window.HttpNative" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OrchextraWrapper">
                <param name="ios-package" value="OrchextraWrapper" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>NSLocationAlwaysUsageDescription</key>
                    <string>Description</string>
                    <key>NSLocationWhenInUseUsageDescription</key>
                    <string>Description</string>
                </dict>
            </array>
</config-file>
        <framework src="CoreLocation.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="AdSupport.framework" />
        <framework src="libz.dylib" />
        <framework src="src/ios/Framework/Orchextra.framework" custom="true" />
        <resource-file src="src/ios/Framework/Orchextra.bundle" />
        <source-file src="src/ios/OrchextraWrapper.h" />
        <source-file src="src/ios/OrchextraWrapper.m" />
        <source-file src="src/ios/Helpers/Categories/CDVInvokedUrlCommand+Orchextra.h" />
        <source-file src="src/ios/Helpers/Categories/CDVInvokedUrlCommand+Orchextra.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OrchextraWrapper">
                <param name="android-package" value="orchextra.OrchextraWrapper" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/OrchextraWrapper.java" target-dir="src/orchextra" />
        <framework src="build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
